# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media

# Virutal Environment
.env
.venv
env/
venv/
.venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local dev settings
local_settings.py
local.py
