<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Habit Tracker{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}!
                <a href="{% url 'habits' %}">Your Habits</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
