{% extends "habits/base.html" %}

{% block content %}
<h1 class="pt-5 text-warning">{{ habit.name }}</h1>

<div class="container sm-6">
    <div class="row p-1">
        <div class="card col border-primary m-2 justify-content-center align-items-center" style="width: 18rem;">
            <span class="fs-1">{{ streak }} days</span> 
            <div class="card-body">
            <h5 class="card-title">Current Streak</h5>
            </div>
        </div>
        <div class="card col border-primary m-2 justify-content-center align-items-center" style="width: 18rem;">
            <span class="fs-1">{{ rate }}%</span>
            <div class="card-body">
            <h5 class="card-title">Completion Rate</h5>
        </div>
    </div>
</div>

{% endblock %}