{% extends "habits/base.html"  %}

{% block content %}
<div class="container page mt-5">
        <!-- Add Habit Button -->
        <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addHabitModal">
            Add New Habit
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="addHabitModal" tabindex="-1" aria-labelledby="addHabitModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addHabitModalLabel">Add New Habit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Save Habit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Habits Dashboard -->
        <h3>Current Habits</h3>
        <ul>
            <table class="border">
                <tr class="border">
                    <th class="border">Habit</th>
                    {% for date in dates %}
                    <th class="border">{{ date.date }}</th>
                    {% endfor %}
                </tr>
                {% for habit in habits %}
                <tr class="border">
                    <td class="border">
                        {{ habit.name }} 
                    </td>
                    <td>hi</td>
                </tr>
                {% endfor %}
            </table> 
        </ul>
    </div>
</div>
{% endblock %}
