{% extends "habits/base.html"  %}

{% block content %}

    <h2>Your Habits</h2>
    <h3>Add New Habit</h3>
    <form action="{% url 'habits' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form> 
    <h3>Your Habits</h3>
    <ul>
        <table class="border">
            <tr class="border">
              <th class="border">Habit</th>
              <th class="border">Day</th>
              <th class="border">Day</th>
              <th class="border">Day</th>
              <th class="border">Day</th>
              <th class="border">Day</th>
              <th class="border">Day</th>
              <th class="border">Day</th>
            </tr>
            {% for habit in habits %}
            <tr class="border">
                <td class="border">
                    {{ habit.name }} 
                </td>
            </tr>
            {% endfor %}
          
          </table> 
          
       
    </ul>
{% endblock %}
