{% extends "habits/base.html"  %}

{% block content %}

    <h2>Your Habits</h2>
    <h3>Add New Habit</h3>
    <form action="{% url 'habits' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form> 
    <h3>Your Habits</h3>
    <ul>
        <table>
            <tr>
              <th>Habit</th>
              <th>Day</th>
              <th>Day</th>
              <th>Day</th>
              <th>Day</th>
              <th>Day</th>
              <th>Day</th>
              <th>Day</th>
            </tr>
            {% for habit in habits %}
            <tr>
                <td>
                    {{ habit.name }} {{ habit.frequency }}
                </td>
            </tr>
            {% endfor %}
          
          </table> 
          
        {% for habit in habits %}
         <li>{{ habit.name }} {{ habit.frequency }}</li>
        {% endfor %}
    </ul>
{% endblock %}
