* {
    /* outline: 1px green dashed; */
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0em;
}

.page {
    margin-top: 4em;
}

.navbar {
    z-index: 1;
    overflow:hidden;
}

.nav-link, .nav-item, .navbar-nav { padding:0; }

.habit-link {
   text-decoration: none; 
}

.cal-completed {
    background-color: blue;
}